*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: green;
}

header{
    padding: 20px 20px;
}

nav ul{
    list-style: none;
    word-spacing: 20px;
    
}
 
li{
    display: inline;
}

a{
    text-decoration: none;
    color: rgb(204, 202, 202);
    font-size: 20px;
    cursor: pointer;

}
a:hover{
    color: rgb(62, 194, 62);
}

h1{
    font-size: 50px;
}
p{
    font-size: 20px;
}
span{
    color: green;
    opacity: 0.6;
}
#bouton{
    text-align: center;
}

button{
    text-align: center;
    width:  150px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
    cursor: pointer;
    margin-top: 30px;
   transition: transform 0.5s;
   
}
button:hover{
    transform: scale(1.05);
    box-shadow: 0px 5px 15px gray;
    background-color: rgb(1, 104, 1);
}

#hero{
    width:100%;
    background-image: url("manette.png");
    background-position: center ;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.hero_content{
    text-align: center;
    color: white;
    padding: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}
